
html body {
    background-color: #9B8A8A;

}

.center {
  display: block;
  margin-left: 100px;
  margin-right: auto;
  width: 40%;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}
